body {
  font-family: "Cairo", sans-serif;
  max-width: 1200px;
  height: 100vh;
  width: 90vw;
  margin: 30px auto 0;
  background-color: rgb(144, 161, 216);
  align-content: center;
}

button {
  text-decoration: none;
  background-color: rgb(184, 199, 248);
  font-size: 12pt;

  padding: 10px;
  display: flex;
  flex-direction: column;

  border-radius: 20px;

  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}

button:hover,
button:active {
  background-color: rgb(135, 128, 238);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  font-size: 10pt;
  padding-bottom: 20px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 16pt;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding-top: 10px;
  font-size: 10pt;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: rgb(31, 19, 201);
}

footer a {
  text-decoration: none;
}
#upperLeft {
  max-width: 30vw;
  height: 100%;
  text-align: center;
}
#upperLeft a {
  display: flex;
  flex-direction: column;
  height: 100px;
  object-fit: contain;
  text-align: center;

  text-decoration: none;
}
#upperLeft a img {
  max-height: 70%;
  object-fit: contain;
}
#upperRight {
  display: flex;
  justify-content: space-between;
  width: 30%;

  height: 100%;
}

#upperRight a {
  display: flex;
  flex-direction: column;
  height: 100px;
  object-fit: contain;
  text-align: center;

  align-items: center;
  text-decoration: none;
}

#upperRight a img {
  max-height: 70%;
  object-fit: contain;
}

#main {
  min-height: 60vh;
  max-height: 70vh;
  display: flex;
  align-items: center;
}

#homePage {
  max-width: 90%;
  min-width: 30%;

  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#homePage a {
  text-decoration: none;
  background-color: rgb(184, 199, 248);
  font-size: 20pt;
  margin: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  width: 220px;
  border-radius: 20px;
  height: 220px;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}

#homePage a:hover,
a:active {
  background-color: rgb(135, 128, 238);
}

#homePage a img {
  height: 40%;
}

#drugSearch {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

#back {
  width: fit-content;
  height: fit-content;
}

#back a {
  width: fit-content;
  height: 50px;
  font-size: 20pt;
  color: rgb(121, 38, 0);
}
#back a:hover {
  color: rgb(206, 70, 7);
}

.center {
  max-width: 90%;
  min-width: 30%;

  margin: auto;

  justify-content: center;
}

.column {
  max-width: 40vw;
  min-width: 30vw;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.column a {
  font-size: 16pt;
  color: rgb(121, 38, 0);
}
.column a:hover {
  color: rgb(206, 70, 7);
}

@media (max-width: 600px) {
  #homePage a {
    font-size: 14pt;
    margin: 15px 20px;
    padding-top: 20px;

    width: 130px;
    height: 130px;
  }
  #homePage a img {
    height: 50%;
  }
  #main {
    min-height: 60vh;
  }
  #upperRight {
    width: 40%;
  }
}
